
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    max-width: 1000px;
    margin: 0 auto;
    gap: 2rem;
    padding: 2rem 1rem;
    justify-items: center;
    text-align: center;
}
 .project-card:hover{
    transform: scale(1.05);
    transition: .5s ease-in-out;
} 

@media (max-width: 835px){
    .projects-container {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}