.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    max-width: 1000px;
    margin: 0 auto;
    gap: 2rem;
    padding: 2rem 1rem;
    justify-items: center;
    text-align: center;
}
