@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --gradientColor: ;
    --myRed: #FF5E5E;
    --myOrange: #F28202;
    
}
html{
    scroll-behavior: smooth
}
body{
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: "Inter", sans-serif ;
      
    /* opacity: 0; */
    /* transform: translateY(40px); */
    /* animation: fadeInBody 1s ease-in forwards; */
}

nav{
    padding: 16px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 32px;
    left:50%;
    transform: translateX(-50%);
    z-index: 10;
    background: rgba(255, 255, 255, .3);
    border-radius: 2.5rem;
    box-shadow: 0  8px 12px rgba(60, 60, 100, .3),
                inset 0 12px 24px -10px rgba(255, 255, 255, .7);
    border: 1.5px solid rgba(255, 255, 255, 1);
    min-width: 320px;
    max-width: 1100px;
    width: 100%;
    transition: box-shadow .3s;
    backdrop-filter: blur(16px);

    /* gap: 20px; */
    
}

nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
nav ul a{
    color: black;
    text-decoration: none;
}
nav ul a:hover{
    transition: .2s ease-in-out ;
    color: var(--myRed);
}
.gradientBorder{
    background: linear-gradient(to right, #F28202, #FF5E5E);
    padding: 1px;
    display: inline-block;
    /* border-radius: 20px; */
}
.gradientBorder.responsive{
    background: linear-gradient(to right, #F28202, #FF5E5E);
    padding: 1px;
    display: inline-block;
    border-radius: 20px;
}
.contactMeBtn:hover{
    background-color: var(--myOrange);
    color: #fff;
    transition: .3s ease-in-out;
}
nav .contactMeBtn{
    border: none ;
    background: #fff ;
    padding: 12px 20px;
    border-radius: 20px;
}
nav .mobileResponsive, .gradientBorder2{
    display: block;
    background: linear-gradient(to right, #F28202, #FF5E5E);
    padding: 1px;
    display: inline-block;
    border-radius: 20px;
}
.menuResponsive{
        display: none;
}
nav #MenuResponsiveButton{
    display: none;
}
nav #MobileResponsiveLinks{
    display: none;
    gap: 5rem;
    text-align: center;
    
    
}

.orangeCircle{
    height: 10rem;
    width: 10rem;
    background-color: rgb(255, 94, 94, .5);
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    left: 16rem;
    top: 5rem;
    filter: blur(80px);
}
.indigoCircle{
    height: 23rem;
    width: 23rem;
    border-radius: 100%;
    background-color: rgb(75, 0, 130, .5);
    position: absolute;
    z-index: -1;
    left: 1rem;
    top: 2rem;
    filter: blur(40px);
}
.circle3{
    height: 23rem;
    width: 23rem;
    border-radius: 100%;
    background-color: rgb(75, 0, 130, .18);
    position: absolute;
    z-index: -1;
    margin-left: 8rem;
    margin-top: -8rem;
    filter: blur(100px);
}
.circle4{
    height: 23rem;
    width: 23rem;
    background-color: rgb(255, 94, 94, .25);
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    margin-left: 8rem;
    margin-top: -8rem;
    filter: blur(100px);
}
.dotted-grid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/dotted-grid.webp');
    /* background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px); */
    background-size: cover;
    background-position: center;
    z-index: -2;
    /* fades the background around the edges */
    filter: blur(2px);
    opacity: 0.2;
    /* pointer-events: none; allows clicks to pass through */
     mask-image: radial-gradient(circle at center, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
    -webkit-mask-image: radial-gradient(circle at center, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 60%);

}
.heroSection{
    padding: 100px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40px;
    gap: 30px;
    position: relative;
}
.heroSection .heroText{
    max-width: 500px;
}
h3{
    font-size: 20px;
    font-weight: 500;
    
}
h2{
    font-weight: 500;
    font-size: 48px;
    background: linear-gradient(to right, #F28202, #FF5E5E);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 span{
    font-weight: 800;
}
i{
    font-weight: 300;
    font: 20px;
}
.heroSection .iconsDiv ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 10px;
}
.heroSection .iconsDiv ul a svg{
    
    width: 40px;
    height: 40px;
}
.heroSection .twoButtonsHero{
    display: flex;
    gap: 15px;
    margin-top: 44px;
}
.hireMeBtn{
    background-color: #000;
    color: #fff;
    padding: 15px 17px;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    align-items: center;
}
.hireMeBtn:hover{
	color: #F28202;
	transition: .3s ease-in-out;
}
.downloadCvBtn{
    border: none ;
    gap: 5px;
    background: #fff ;
    padding: 17px 17px;
    cursor: pointer;
    align-items: center;
}
.downloadCvBtn:hover{
	color: #F28202;
	transition: .3s ease-in-out;
}

.heroSection .heroImage{
    position: relative;
}
.heroSection .heroImage img{
    width: 380px;
    height: 380px;
    object-fit: cover;
    border-radius: 100%;
    right: 0;
    transform: rotate(0deg);
    
    animation: autoRotateAnimation;
    animation-timeline: view();
    /* animation: autoRotateAnimation 10s linear infinite; */

}
.aboutSection{
    padding: 5px 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutSection .aboutText{
    max-width: 970px;
}
.autoView{
    
    animation: autoShowText both ;
    animation-timeline: view(70% 5%);
    /* animation: autoShowText 1s ease-in-out; */
}
.autoBlur{
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
}
.MyWorkSeeMore{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.myWorkSection{
    padding: 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.myWorkSection .bottomSectionWork{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 5rem; */
    /* padding: 20px; */
    /* max-width: 80%; */
}
.myWorkSection .bottomSectionWork .leftSectionWork{
    display: flex;
    /* flex-direction: column; */
    /* width: 100%; */
    gap: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.myWorkSection .bottomSectionWork .leftSectionWork .softwareDevelopment a{
    font-weight: 800;
    color: var(--myRed);
}

.myWorkSection .rightSectionWork .designs div:hover{
    backdrop-filter: blur(50px);
    filter: grayscale(0%);

}
.myWorkSection .rightSectionWork .designs:hover div{
    filter: grayscale(100%);
}
.myWorkSection .rightSectionWork .designs:hover div:hover{
    filter: grayscale(0%);
}
.seeMoreBtn{
    display: none;
}
#SoftwareDevContent{
    display: block;
}
#UiUxContent{
    display: none;
}

.moreAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
}


.moreAbout ul, li, a{
    display: flex;
    align-content: space-between;
    list-style: none;
    text-decoration: none;
    color: #000;
    gap: 2rem;
    text-align: center;
}
.moreAboutContent{
    max-width: 100vw;
    padding:  20px;
}

.educationSection{
    margin-top: 3rem;
}

.navMoreAbout .EducationButton{
    color: var(--myRed);
    font-weight: 800;
}
.navMoreAbout .SkillsButton{
    color: #000;
    font-weight: 500;
}
 .educationSection .imageAndText{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
 }
 .educationSection .educationText h3 img{
    height: 30px;
    width: auto;
    box-shadow: none;
    border: none;
    border-radius: none;
 }
 .educationText h3{
    display: flex;
    align-items: center;
    line-height: 2rem;
    gap: 1rem;
}
 .educationSection .imageAndText img{
    height: 400px;
    width: auto;
    /* box-shadow: 0 0 20px rgb(0, 0, 0, .2); */
    /* border-radius: 20px; */
    /* border: 1.5px solid rgb(255,255,255,.18); */
 }
 .educationSection .imageAndText h3 span{
    font-weight: normal;
 } 
.educationSection .educationText{
    flex-direction: column;
}
.educationText.autoSlideLeft {
    animation: slideInLeft  both;
    animation-timeline: view(95% 5%);
}
.myEducationImage{
    animation: slideInRight 1s  both;
    animation-timeline: view(90% 5%);
}
#Skills{
    display: none;
}

.skillsSection{
    margin-top: 3rem;
    display: block;
    align-items: center;
    width: 80vw;
}
.skillsSection ul{
    display: grid;
    grid-template-columns: repeat(3, 3fr);    
}
.skillsSection li{
    align-items: center;
}

.progressContainer{
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background-color: #e0e0e0;
    overflow: hidden;
}
.progressBar{
    height: 20px;
    background: linear-gradient(to right, #F28202, #FF5E5E);

    border-radius: 30px;
    color: #fff;
    text-align: center;
    align-items: center;
    line-height: 20px;
    font-weight: bold;
    transition: width 0.5s ease-in-out;
}

.contactMeSection {
    padding: 3rem 8.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 1px solid rgb(0, 0, 0, .3);
    border-bottom: 1px solid rgb(0, 0, 0, .3);
}
.contactMeSection .logo{
    font-weight: 600;
}
.contactMeSection .secondSection{
    line-height: 2rem;
    display: flex;
    gap: 10rem;
}
.secondSection .leftSection{
    
    display: flex;
    gap: 5rem;
    
    /* animation: autoShowText 1s ease-in-out; */

}
.secondSection .leftSection h3{
    font-weight: 600;
    font-size: 16px;
}

.secondSection .leftSection a:hover{
    color: var(--myRed);
}

.secondSection .rightSection h3{
    font-weight: 600;
    background: linear-gradient(to right, #F28202, #FF5E5E);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.secondSection .rightSection, form{
    display: flex;
    flex-direction: column;
}
.secondSection .rightSection form input, textarea{
    padding: 8px;
    width: 15rem;
    height: auto;
} 
.secondSection .rightSection form input:focus, textarea:focus{
    outline: 1px solid var(--myRed);
    border: none;
}
.secondSection .rightSection form  textarea{
    height: 8rem;
    width: 20rem;
    font-family: "Inter", sans-serif;

}
.secondSection .rightSection form button{
    padding: 10px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 8rem;
}
.secondSection .rightSection form button:hover{
    background: var(--myOrange);
    transition: .3s ease-in-out;
}
footer{
    padding: 20px 80px;
}
footer a{
    display: flex;
}

@keyframes autoRotateAnimation {
    from {
        transform: rotate(-160deg); opacity: .7;
    }
    to {
        transform: rotate(45deg);
        opacity: 1;
    }
}
@keyframes autoShowText {
    from {
        opacity: 0;
        transform: translateY(200px) scale(0.8);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
@keyframes autoBlurAnimation {
    0% {
        filter: blur(40px);
    }
    25%,75% {
        filter: blur(0px);
    }
    100% {
        filter: blur(40px);
    }
}
@keyframes slideInLeft{
    from {
        transform: translateX(60%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInRight{
    from {
        transform: translateX(-60%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeInBody{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 801px)  {
    nav{
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 16px;
        max-width: 100vw;
        width: 100vw;
        left: 1vw;
        border-radius: 1.5rem;
        top: 10px;
        /* Remove transform for better alignment */
        transform: none;
    }
    nav ul{
        display: none;
    }
    nav .mobileResponsive, .gradientBorder2{
        display: none;
    }
    #MobileResponsiveContactMe{
        display: block;
    }
    nav #MenuResponsiveButton, #CloseResponsiveMenuButton{
        display: block;
        cursor: pointer;
    }
    #CloseResponsiveMenuButton{
        display: none;
    }
    nav #MobileResponsiveLinks {
        display: none;
    }
    nav #MobileResponsiveLinks #MenuResponsiveButton{
        display: block;
    }
    .menuResponsive{
        display: block;
    }
    .menuResponsive img{
        height: 30px;
    }
    .heroSection {
        transition: .3s ease-in-out;
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .heroText .twoButtonsHero, .heroSection .heroText .iconsDiv{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .indigoCircle{
        display: none;
    }
    
    .myWorkSection .designs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    /* .myWorkSection .designs:hover{
        transform: scale(2);
    } */
    .educationSection .imageAndText{
        flex-direction: column;

    }
    .imageAndText .educationText{
        font-size: 6px;
    }

    .skillsSection ul{
        display: grid;
        grid-template-columns: repeat(1, 3fr);    
    }

    .contactMeSection{
        padding: 20px;
    }

    .contactMeSection .secondSection{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }
    .myWorkSection{
        text-align: center;

    }
    .myWorkSection .bottomSectionWork{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .myWorkSection .bottomSectionWork .leftSectionWork{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .myWorkSection .bottomSectionWork .rightSectionWork div{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    .myWorkSection .bottomSectionWork .rightSectionWork div img{
        height: 150px;
        width: auto;
    }
}
@media (max-width: 800px){
    .skillsSection ul{
        margin-top: 2rem;
    }
    .skillsSection li{
        
        padding-bottom: 2rem;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
}
@media (max-width: 543px){
    .heroSection .heroImage img{
        width: 200px;
        height: 200px;
        margin-top: -3rem;
        border: 1.5px solid #fff;
    }
    .heroSection .heroText h2{
        font-size: 32px;
    }
    .indigoCircle{
        display: block;
        /* margin: 1.5rem 5.5rem; */
        top: -15px;
        height: 14rem;
        width: 14rem;
        background-color: rgb(75, 0, 130, .3);

    }
    .orangeCircle{
        display: block;
        margin: 32rem 6rem;
    }
    .circle3{
        display: block;
        width: 14rem;
        height: 14rem;
    }
    .circle4{
        display: block;
        width: 14rem;
        height: 14rem;
    }

    .contactMeSection .secondSection{
        display: flex;
        flex-direction: column-reverse;
    }
    .contactMeSection .secondSection .leftSection{
        gap: 2rem;
        display: flex;
        flex-direction: column;
    }
    .contactMeSection .secondSection .rightSection form input {
        width: 100%;
    }
    .contactMeSection .secondSection .rightSection form  textarea{
        width: 100%;
    }
    .contactMeSection .secondSection .rightSection form button{
        width: 100%;
    }
}
